.asesorView--container{
    width: 100%;
    height: 100%;
    background-color:#f2f2f2;
    display: flex;
}
/* <-------------------------------- sideBar --------------------------------> */
.sideBar--container{
    max-width: 285px;
    height: 100%;
    background-color: #038C73;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

/* Header SideBar */

.sideBar--header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideBar--header--topLogo{
    width: 80%;
    height: 80%;
}

/* Main SideBar */

.sideBar--main{
    width: 90%;
    height: 65%;
}
.sideBar--main--tittle{
    height: 30px;
}
.sideBar--main--tiitle--content{
    font-size: 15px;
    color: #f2f2f2;
}
.sideBar--main--product{
    height: 35px;
    font-size: 18px;
}

/* Footer SideBar */

.sideBar--footer{
    width: 90%;
    height: 20%;
    font-size: 20px;
}

/* <-------------------------------- TopBar --------------------------------> */

.topBar--container{
    width: 85%;
    height: 5%;
    background-color: #D2D2D2;
    display: flex;
    justify-content: space-between;
}
.topBar--user{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left:15px ;
    gap: 8px;
}
.topBar--user--icon{
    width: 30px;
}
.topBar--span--user{
    font-size: 18px;
    width: auto;
    height: auto;
}

.topBar--actions{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 15px ;
}
.topBar--actions--content{
    width: 30px;
}